* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
}

.left {
    width: 25vw;
    padding: 10px;
}

.right {
    width: 100vw;
    height: 595px;
}

/* .home {
    width: 315px;

} */

.home ul li {
    display: flex;
    gap: 15px;
    width: 14px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
}

.heading h2 {
    display: flex;
    gap: 10px;
    width: 100%;
    padding: 15px 5px;
    font-size: 15px;
    font-weight: bold;
    align-items: center;
}

.library {
    position: relative;
    height: 480px;

}

.footer {
    display: flex;
    font-size: 11px;
    color: gray;
    gap: 20px;
    position: absolute;
    bottom: 5px;
    padding: 6px;
}

.footer a {
    color: gray;
}

.right {
    position: relative;
    margin: 16px 0px;
    width: 100%;
    height: 100%;
}

.header {
    height: 73px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(58, 56, 56);
}

.header>* {
    padding: 20px;
}

.spoitifyplaylists {
    padding: 16px;
}

.cardContainer {
    margin: 30px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    overflow-y: scroll;
    height: 400px;
    width: 100%;
}

.card {
    position: relative;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #0f0f0f;
}

.card>* {
    padding-top: 10px;
}

.card img {
    width: 100%;
    object-fit: contain;
    border-radius: 119px;
}

.play {
    position: absolute;
    top: 170px;
    right: 10px;
    width: 60px;
    height: 50px;
    background: url('data:image/svg+xml;utf8,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 64 64%22><circle cx=%2232%22 cy=%2232%22 r=%2228%22 fill=%22%231DB954%22/><path d=%22M26 22 L44 32 L26 42 Z%22 fill=%22%23000%22/></svg>') no-repeat center/cover;
    border: none;
    border-radius: 50%;
    /* opacity: 0;
    transition: all 1s ease-out; */
    cursor: pointer;
}

.buttons>* {
    margin: 0px 12px;
}

.signupbtn {
    background-color: rgb(58, 56, 56);
    color: rgb(34, 34, 34);
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 19px;

}

.signupbtn:hover {
    font-size: 20px;
    color: white;
}

.loginbtn {
    background-color: white;
    border-radius: 21px;
    color: black;
    padding: 10px;
    width: 79px;
    cursor: pointer;
    font-size: 16px;
}

.loginbtn:hover {
    font-weight: bold;
    font-size: 17px;
}

.playbar {
    position: fixed;
    bottom: 13px;
    filter: invert(1);
    background-color: rgb(228, 233, 228);
    padding: 10px;
    width: 70vw;
    border-radius: 10px;
    height: 45px;
}

.songbuttons {
    display: flex;
    justify-content: center;
    gap: 6px;
}


.songList {
    height: 350px;
    overflow: auto;
    margin-bottom: 44px;
}

.hamburger {
    display: none;
}

.hamburgerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    cursor: pointer;
}

.songList ul {
    padding: 0 12px;
}

.songList ul li {
    list-style-type: decimal;
    display: flex;
    gap: 35px;
    cursor: pointer;
    padding: 10px;
    border: 1px solid white;
    margin: 15px 0;
    font-size: 15px;
    border-radius: 10px;
    justify-content: center;
}

.songList .info {
    font-size: 13px;
    width: 344px;
}

.playnow {
    display: flex;
    justify-content: center;
    align-items: center;

}

.playnow span {
    font-size: 10px;
    width: 45px;
}

.playnow img {
    width: 30px;
}

.seekbar {
    height: 4px;
    width: 98%;
    background-color: black;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    margin: 6px;
    cursor: pointer;

}

.circle {
    width: 13px;
    height: 13px;
    border-radius: 13px;
    background-color: black;
    position: relative;
    bottom: 6px;
    left: 0%;
    transition: left 0.5s;
}

.songbuttons img {
    cursor: pointer;
}

.songinfo,
.songtime {
    color: black;
    padding: 0 12px;
}

.abovebar {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1400px) {
    .left {
        position: absolute;
        left: -120%;
        transition: all .3s;
        z-index: 1;
        width: 373px;
        background-color: black;
    }

    .left .close {
        position: absolute;
        right: 30px;
        top: 30px;
        width: 30px;
    }

    .right {
        width: 100vw;
        height: 595px;
    }

    .playbar {
        width: 95vw;
    }

    .hamburger {
        display: block;
    }
}